groww_n8n_workflow.json
{
    "name": "Groww Review Analyzer - Standard",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 9 * * 1"
                        }
                    ]
                }
            },
            "name": "Weekly Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "GROQ_API_KEY",
                            "value": "your_key_here"
                        },
                        {
                            "name": "GMAIL_USER",
                            "value": "your_email@gmail.com"
                        },
                        {
                            "name": "GMAIL_APP_PASSWORD",
                            "value": "your_app_password"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Set Credentials",
            "type": "n8n-nodes-base.set",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "command": "=GROQ_API_KEY={{$node[\"Set Credentials\"].json[\"GROQ_API_KEY\"]}} GMAIL_USER={{$node[\"Set Credentials\"].json[\"GMAIL_USER\"]}} GMAIL_APP_PASSWORD={{$node[\"Set Credentials\"].json[\"GMAIL_APP_PASSWORD\"]}} ./.venv/bin/python src/ingestion/scraper.py && ./.venv/bin/python src/ingestion/cleaner.py"
            },
            "name": "Phase 1: Ingestion",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "command": "=GROQ_API_KEY={{$node[\"Set Credentials\"].json[\"GROQ_API_KEY\"]}} ./.venv/bin/python src/analysis/analyzer.py"
            },
            "name": "Phase 2: Analysis",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "command": "./.venv/bin/python src/reporting/reporter.py"
            },
            "name": "Phase 4: Generate Reports",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                1050,
                300
            ]
        },
        {
            "parameters": {
                "command": "=GMAIL_USER={{$node[\"Set Credentials\"].json[\"GMAIL_USER\"]}} GMAIL_APP_PASSWORD={{$node[\"Set Credentials\"].json[\"GMAIL_APP_PASSWORD\"]}} ./.venv/bin/python src/reporting/send_email.py report@groww.in"
            },
            "name": "Phase 4: Send Gmail",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                1250,
                300
            ]
        }
    ],
    "connections": {
        "Weekly Trigger": {
            "main": [
                [
                    {
                        "node": "Set Credentials",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Credentials": {
            "main": [
                [
                    {
                        "node": "Phase 1: Ingestion",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Phase 1: Ingestion": {
            "main": [
                [
                    {
                        "node": "Phase 2: Analysis",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Phase 2: Analysis": {
            "main": [
                [
                    {
                        "node": "Phase 4: Generate Reports",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Phase 4: Generate Reports": {
            "main": [
                [
                    {
                        "node": "Phase 4: Send Gmail",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}